.app-header {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 10px;
}
.header-left {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 0.6;
}
.header-items {
  display: flex;
  flex: 0.8;
  justify-content: space-evenly;
}
.header-right {
  display: flex;
  align-items: center;
  flex: 0.2;
  justify-content: space-around;
}
.redirect {
  display: flex;
  flex: 0.8;
}
.redirect > img {
  margin-right: 5px;
}
.signout-btn {
  display: flex;
  align-items: center;
}
.signout-btn:hover {
  cursor: pointer;
}
.signout-btn > span {
  font-weight: bolder;
  font-size: x-large;
  color: gray;
}
.card {
  display: flex;
  height: 100vh;
}
.card-left {
  flex: 0.2;
  margin-top: 5px;
  margin-left: 4px;
  margin-right: 4px;
}
.card-left > h2,
form {
  margin-bottom: 10px;
}
.btn {
  margin-bottom: 10px;
}
.card-right {
  flex: 0.8;
  margin-top: 5px;
  margin-left: 4px;
  margin-right: 1px;
}
.card-right-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.card-right-header-right-btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.content-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.title {
  flex: 0.2;
}
.description {
  flex: 0.6;
}
.version {
  flex: 0.2;
}
.charts {
  display: flex;
  justify-content: space-between;
}
.charts > h3 {
  flex: 0.2;
}

.dark-mode-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
}

.dark-mode-toggle span {
  margin-right: 8px;
}

.dark-mode-toggle input {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle-slider {
  width: 30px;
  height: 15px;
  background-color: #ccc;
  border-radius: 15px;
  position: relative;
  transition: background-color 0.3s ease;
}

.toggle-slider::before {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
}

/* Styles for dark mode */
.dark-mode .toggle-slider {
  background-color: #333;
}

.dark-mode .toggle-slider::before {
  transform: translateX(15px);
}
